@import "structure";

$panelWidth: 400px;

$pagePaddingTop: 20px;

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;

  main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5vh - #{$primaryToolbarHeight});

    section {
      width: 100%;

      & > .content {
        @include standard-container;
        padding-top: $pagePaddingTop;
        padding-bottom: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        & > .panel {
          order: 2;
          min-height: calc(
            100vh - 5vh - #{$pagePaddingTop} - #{$primaryToolbarHeight}
          );
          width: calc(#{$panelWidth} - 30px);
          padding-left: 30px;

          & > .box {
            width: calc(100% - 2 * 15px);
            padding: 15px;
            background-color: $colorPrimary;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-height: 600px;
            margin-bottom: 30px;
            & > .title {
              margin: 10px 0 30px;
              & > * {
                color: #ffffff;
                font-weight: 500;
              }
            }

            & > .section {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              margin-bottom: 15px;
              & > .label {
                margin-bottom: 10px;
                font-size: 11pt;
                color: #ffffff;
                font-weight: 500;
              }
              & > .card {
                background-color: #ffffff;
                border-radius: 2px;
                width: calc(100% - 2 * 10px);
                padding: 15px 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                flex: 1;
                overflow-y: scroll;
                padding-bottom: 5px;

                & > .row {
                  width: 100%;
                  position: relative;
                  display: grid;
                  grid-template-columns: repeat(6, 1fr);
                  grid-column-gap: 10px;

                  & > .item {
                    width: 100%;
                    position: relative;
                    grid-column: span 3;

                    & > p {
                      position: absolute;
                      bottom: 27px;
                      right: 10px;
                      font-size: 9pt;
                      font-weight: 600;
                      color: $colorPrimary;
                    }
                    & > .input {
                      max-width: calc(100% - 2 * 1px);

                      & > p {
                        text-transform: none;
                        font-size: 10pt;
                        font-weight: 400;
                      }
                      & > input {
                        height: 34px;
                        font-size: 11pt;
                        font-weight: 500;
                        color: $colorSecondary;
                        width: calc(100% - 10px - 50px);
                        padding: 6px 50px 6px 10px;
                      }
                      input::-webkit-outer-spin-button,
                      input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }

                      /* Firefox */
                      input[type="number"] {
                        -moz-appearance: textfield;
                      }
                    }
                  }
                }
              }
              &.rules {
                flex: 1;
                & > .card {
                  & > .row {
                    border-bottom: 1px solid #eeeeee;
                    margin-bottom: 10px;
                    grid-template-columns: 1fr 1fr;
                    & > .item {
                      grid-column: span 2;
                      display: grid;

                      grid-template-columns: 1fr 1fr;
                      grid-column-gap: 10px;
                      & > .input {
                        grid-column: span 1;
                        & > input {
                          padding-right: 10px;
                          width: calc(100% - 10px - 10px);
                        }
                      }
                    }
                  }
                }
              }
            }
            & > #buttonGenerate {
              width: calc(100% - 2 * 30px);
              margin-bottom: 15px;
            }
            & > #buttonPublish {
              @include buttonCustom(#444444, #ffffff);
              width: calc(100% - 2 * 30px);
            }
          }
        }
        & > .playground {
          min-height: calc(100vh - 5vh - 60px - #{$primaryToolbarHeight});
          flex: 1;
          & > .box {
            width: calc(100% - 2 * 30px - 2 * 2px);
            border: 2px solid #eeeeee;
            background-color: #fafafa;
            border-radius: 4px;
            padding: 0 30px 30px 30px;
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: calc(100vh - 5vh - 60px - #{$primaryToolbarHeight} - 2px);

            & > .title {
              margin: 25px 0 20px;
              & > * {
                color: $colorPrimary;
                font-weight: 500;
              }
            }

            & > .container {
              flex: 1;
              width: calc(100% - 2 * 2px);
              border-radius: 2px;
              overflow: hidden;
              border: 2px dashed #eee;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              & > img {
                height: 100%;
                width: 100%;
                overflow: hidden;
                object-fit: contain;
                &[src=""],
                &:empty {
                  opacity: 0;
                  transition: opacity 200ms;
                }
                &:not([src=""]),
                &:not(:empty) {
                  opacity: 1;
                  transition: opacity 200ms;
                }
              }

              & > .loader {
                position: absolute;
                opacity: 0;
                transition: opacity 0ms;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &[data-visible="true"] {
                  opacity: 1;
                  transition: opacity 200ms;
                }

                & > .icon {
                  flex-shrink: 0;
                  width: 80px;
                  height: 80px;
                  border-radius: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 2px solid $colorSecondary;
                  position: relative;
                  & > i {
                    position: absolute;
                    font-size: 18pt;
                    color: $colorSecondary;
                  }
                }

                & > p {
                  text-align: center;
                  margin-top: 15px;
                  font-size: 12pt;
                  color: $colorSecondary;
                  font-weight: 600;
                }
              }

              & > .empty {
                position: absolute;
                opacity: 0;
                transition: opacity 0ms;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &[data-visible="true"] {
                  opacity: 1;
                  transition: opacity 200ms;
                }

                & > .icon {
                  flex-shrink: 0;
                  width: 80px;
                  height: 80px;
                  border-radius: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 2px solid #eeeeee;
                  position: relative;
                  background-color: #f5f5f5;
                  & > i {
                    position: absolute;
                    font-size: 22pt;
                    color: #ccc;
                  }
                }

                & > p {
                  text-align: center;
                  margin-top: 15px;
                  font-size: 12pt;
                  color: #cccccc;
                  font-weight: 500;
                  word-spacing: 1pt;
                  b {
                    color: #aaa;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: $col-lg) {
  body {
    main {
      width: 100%;
      height: 100%;

      section {
        width: 100%;
      }
    }
  }
}
