@import "structure";


$actionsPanelWidth : 400px;
$actionsPanelPaddingTop : 30px;

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  position: relative;



  &[data-type="buy"]{

    & > header{
      & > .content{
        & > .titleCard{
          box-shadow: 0 18px 30px -12px rgba($mainGreenPrimary,0.5);
          & > .content > .price > p, & > .content > .title > p{
            color: $mainGreenPrimary;

          }
        }
      }
    }

    & > main {
      & > .content {
        & > div.right {
          & > section#actions {

            & > div.card {
              box-shadow: 0 5px 10px -5px rgba($colorPrimary, 0.2);
              &.moving{
                box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5);
              }


            }
          }
        }
      }
    }

  }
  &[data-type="rent"]{


    & > header{
      & > .content{
        & > .titleCard{
          box-shadow: 0 18px 30px -12px rgba($colorPrimary,0.5);
          & > .content > .price > p, & > .content > .title > p{
            color: $colorPrimary;
          }
        }
      }
    }

    & > main {
      & > .content {
        & > .right {
          & > section#actions {
            & > .card {
              box-shadow: 0 5px 10px -5px rgba($colorPrimary, 0.2);
              &.moving{
                box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5);
              }

            }
          }
        }
      }
    }

  }



  & > nav{
    & > .nav-content{
      & > .nav-back{
        margin-left: 40px;
        margin-right: 8px;
        & > .icon{
          height: 52px;
          width: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background: $colorPrimary;
          transition: background 0.2s;
          cursor: pointer;

          & > i{
            font-size: 16pt;
            color: #ffffff;
          }
          &:hover, &:active{
            background: darken($colorPrimary, 10%);
            transition: background 0.2s;
          }
        }
      }

      & > .nav-search{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 500px;
        margin-right: auto;
      }
    }
  }
  &  > header {
    width: 100%;
    height: 600px;
    position: relative;

    & > .background{
      top: 0; bottom: 0; right: 0; left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 50%;
      & > *{
        @include prevent-blink;
      }


      & > .primary{

        grid-row: span 2;
        grid-column: span 1;
        overflow: hidden;
        & > img{
          object-fit: cover;
          height: 100%;
          width: 100%;
        }

        &.single{
          grid-column: span 2;
        }
      }
      & > .secondary{
        grid-row: span 1;
        grid-column: span 1;
        & > img{
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    & > .content {
      @include standard-container;
      align-items: flex-end;
      justify-content: flex-start;
      padding-top: 0;
      padding-bottom: 30px;
      height: calc(100% - 30px);
      z-index: 2;
      position: relative;



      & > .titleCard{
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 18px 30px -12px rgba(0,0,0,0.5);
        padding: 20px 25px;


        & > .content{
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;

          & > .title{
            margin-right: 20px;
            & > p{
              margin: 0;
              font-size: 14pt;
              font-weight: 600;
              font-family: $fontPrimary;
              color: #2c2c2c;
            }
          }

          & > .price{
              & > p{
                margin: 0;
                font-size: 14pt;
                font-weight: 600;
                font-family: $fontPrimary;
                color: #2c2c2c;
              }
          }
        }
      }


    }
  }

  main {
    width: 100%;
    & > .content{
      @include standard-container;
      padding-top: 30px;
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: 1fr $actionsPanelWidth;
      grid-gap: 60px;


      & > .left{
        flex: 1;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & >*{
          flex-shrink: 0;
        }

        section#description{
          width: 100%;

          & > .content {
            flex-direction: column;

            &.about{
              border-bottom: 1px solid #eeeeee;
              padding-bottom: 20px;
              margin-bottom: 20px;
              & > .sectionTitle{
                margin-bottom: 20px;
                & > p{
                  font-size: 20pt;
                }
              }
              & > .description{
                margin-bottom: 20px;
                p{
                  font-size: 12pt;
                  line-height: 1.4;
                  color: #3c3c3c;
                  font-weight: 300;
                  margin: 0;
                }
              }
              & > .address{

                border-radius: 4px;
                border: 1px solid #eeeeee;
                background: #f9f9f9;
                width: calc(100% - 2 * 20px);
                padding: 20px;
                display: flex;

                & > i{
                  color: $colorPrimary;
                  font-size: 14pt;
                  margin-right: 10px;
                }

                & > p{
                  flex: 1;
                  color: $colorPrimary;
                  font-weight: 400;
                  font-family: $fontPrimary;
                  font-size: 12pt;
                }

              }
            }

            &.items{
              border-bottom: 1px solid #eeeeee;
              padding-bottom: 20px;
              margin-bottom: 20px;

              & > .item{
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;
                max-width: 500px;
                & > .icon{
                  margin-right: 20px;
                  & > i{
                    font-size: 16pt;
                    color: #2c2c2c;
                  }
                  & > img{
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    object-position: center;
                  }
                }
                & > .main{
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  width: 100%;
                  & > .label{
                    margin-bottom: 5px;
                    & > p{
                      font-family: $fontPrimary;
                      color: #2c2c2c;
                      margin: 0;
                      font-weight: 500;
                      font-size: 12pt;

                    }
                  }
                  & > .content{
                    & > p{
                      color: #3c3c3c;
                      margin: 0;
                      font-weight: 300;
                      font-size: 12pt;
                      line-height: 1.4;
                    }
                  }
                }
              }
            }

            &.more{
              border-bottom: 1px solid #eeeeee;
              padding-bottom: 20px;


              & > .sectionTitle{
                margin-bottom: 20px;
              }
              & > .empty{
                margin-bottom: 20px;
                p{
                  margin: 0;
                  color: #aaa;
                  font-size: 12pt;
                  font-weight: 400;
                }
              }
            }


          }
        }


      }

      & > .right{

        position: relative;

        & > section#actions{
          & > .card{
            z-index: 1;
            border-radius: 8px;
            width: calc(#{$actionsPanelWidth} - 2 * 1px);
            box-shadow: 0 10px 10px -12px rgba(0,0,0,0.1);
            background: #ffffff;
            position: absolute;
            transition: box-shadow 0.3s;

            &.moving{
              position: fixed;
              top: $primaryToolbarHeight + $actionsPanelPaddingTop;
              box-shadow: 0 10px 40px -16px rgba(0,0,0,0.2);
              transition: box-shadow 0.3s;
            }

            &.stopped{
              position: absolute;
              bottom: 0;
              top: inherit;
              box-shadow: 0 10px 10px -12px rgba(0,0,0,0.1) !important;
              transition: box-shadow 0.3s;
            }


            & > .content{
              width: calc(100% - 2 * 30px);
              padding: 30px;
              display: flex;
              flex-direction: column;

              & > .title{
                margin-bottom: 20px;
                & > p{
                  font-size: 16pt;
                  color: #2c2c2c;
                  font-weight: 600;
                  line-height: 1.4;
                  margin: 0;
                  font-family: $fontPrimary;
                }
              }
              & > .main{
                display: flex;
                flex-direction: column;
                & > .description{
                  margin-bottom: 30px;
                  & > p{
                    font-size: 12pt;
                    color: #3c3c3c;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0;

                  }
                }
                & > .button:not([data-bookmark="true"]){
                  @include buttonOutlineCustom($colorPrimary, $colorPrimary, $colorPrimary, #fff);
                  span.not{
                    display: none;
                  }
                }
                & > .button[data-bookmark="true"]{
                  @include buttonCustom($colorPrimary, #ffffff, $colorSecondary, #fff);
                  span.yes{
                    display: none;
                  }
                }
              }
            }
          }
        }

      }

    }

    section#map-section {
      width: 100%;

      z-index: 4;



      & > .content {
        @include standard-container;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: flex-start;

        & > h2{
          font-size: 20pt;
          font-family: $fontPrimary;
          font-weight: 600;
          margin-bottom: 40px;
        }

        .mapContent{
          width: 100%;
          height: 600px;
          position: relative;

            #floating-panel{
              position: absolute;
              z-index: 90;

              left: 85px;
              top: 15px;
              background: #ffffff;
              display: flex;
              flex-direction: column;
              padding: 15px 0;
              border-radius: 4px;

              .close{
                span{
                  color: #888 !important;

                }
              }

              & > div{
                display: flex;
                flex-direction: row;
                text-align: center;
                padding: 8px 0;
                border-bottom: 1px solid #eeeeee;
                width: 100%;
                background: #ffffff;
                cursor: pointer;
                &.close{
                  span{
                    color: #888 !important;
                  }
                }
                span{
                  min-width: 90px;
                  font-size: 10pt;
                  color: $colorPrimary;
                  text-align: center;
                  font-family: $fontPrimary;
                }
                span.close{
                  color: #888 !important;

                }
                &:last-of-type{
                  border-bottom: none;
                }
                &:hover, &:active{
                  background: #f9f9f9;
                }
                &.active{
                  font-weight: 600;
                  color: $mainBluePrimary;
                }
              }
            }
            #map-panel{
              width: 100%;
              height: 100%;
              #map{
                width: 100%;
                height: 100%;
                border-radius: 4px;
              }
            }
          }
      }
    }


    section#price {
      width: 100%;

      & > .content {
        @include standard-container;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > h2{
          font-size: 20pt;
          font-family: $fontPrimary;
          font-weight: 600;
          margin-bottom: 40px !important;

        }
        & > .actions{
          display: flex;
          align-items: center;
          width: auto;
          justify-content: flex-start;
          margin-top: 40px;


          & > *{
            &:first-of-type{
              margin-right: 20px;
            }
          }
          .button{
            @include buttonOutlineCustom($colorPrimary, $colorPrimary, $colorPrimary, #ffffff);
            &.active{
              background: $colorPrimary;
              span,i{
                color: #ffffff !important;
              }
            }
          }

        }

        & > .graph{
          width: 100%;
          min-height: 300px;

        }
      }
    }

    section#similar{
      width: 100%;
      & > .content {
        @include standard-container;
        padding-top: 60px;
        flex-direction: column;

        header {
          padding: 0;
          margin: 0 0 40px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h2 {
            font-size: 20pt;
            color: $black;
            font-family: $fontPrimary;
            font-weight: 600;
            padding: 0;
            margin: 0 0 15px 0;
            span {
              font-weight: 600;
              font-family: $fontPrimary;
              color: $colorPrimary;
            }
          }

          p {
            font-size: 11pt;
            color: $black;
            margin: 0 0 15px 0;
            font-weight: 300;

          }

          .arrows {
            display: grid;
            grid-template-columns: 1fr 100px 1fr;
            grid-column-gap: 20px;
            border-radius: 4px;
            border: 1px solid #eee;
            padding: 6px;
            .action {
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                cursor: pointer;
                margin: 0;
                padding: 5px 6px;
                border-radius: 2px;
                background: #fafafa;
                border: 1px solid #f5f5f5;
                @extend .transition02;
                span {
                  color: $colorPrimary;
                  font-size: 11pt;
                  text-align: center;
                  font-weight: 500;
                }
                &:hover {
                  background: #f5f5f5;
                }
              }
            }
            .arrow {
              cursor: pointer;
              height: 34px;
              width: 34px;

              border-radius: 50%;
              border: 1px solid #000;
              display: flex;
              justify-content: center;
              align-items: center;
              @extend .transition02;
              img {
                height: 18px;
                width: 18px;
              }

              &:hover {
                background: #eee;
                @extend .transition02;
              }
              &.disabled {
                cursor: default;
                opacity: 0.5;
                @extend .transition02;
                &:hover {
                  background: transparent;
                }
              }

            }

          }


        }



      }
      & > .content-outside{
        width: 100%;
        .slider {
          padding: 25px 0;

          width: 100%;
          overflow-x: auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: nowrap;
          transition: all 3s;

          & > .listing-item {
            margin-right: 25px;
            flex-shrink: 0;

            &:first-of-type{
              margin-left: calc((100% - 1100px) / 2);
            }
            &:last-of-type{
              margin-right: 200px !important;
            }
          }
        }
        .slider::-webkit-scrollbar {
          display: none;
        }
      }
    }



  }





}


@media all and (max-width: $col-lg){

  body{

    &[data-type="buy"]{

      & > header{
        & > .content{
          & > .titleCard{
            box-shadow: 0 18px 30px -12px rgba($mainGreenPrimary,0.5);
            & > .content > .price > p, & > .content > .title > p{
              color: $mainGreenPrimary;

            }
          }
        }
      }

      & > main {
        & > .content {
          & > .right {
            & > section#actions {
              & > .card {
                box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5)!important;
                &.moving{
                  box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5)!important;
                }
                & > .content > .main  > div.button.bookmark{


                }
              }
            }
          }
        }
      }



    }
    &[data-type="rent"]{


      & > header{
        & > .content{
          & > .titleCard{
            box-shadow: 0 18px 30px -12px rgba($colorPrimary,0.5);
            & > .content > .price > p, & > .content > .title > p{
              color: $colorPrimary;
            }
          }
        }
      }

      & > main {
        & > .content {
          & > .right {
            & > section#actions {
              & > .card {
                box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5)!important;
                &.moving{
                  box-shadow: 0 10px 30px -16px rgba($colorPrimary,0.5)!important;
                }

                & > .content > .main  > div.button.bookmark{

                }
              }
            }
          }
        }
      }

    }


    main {
      width: 100%;

      & > .content {
        grid-template-columns: 1fr;


        & > .left {
          grid-column: span 1;



        }

        & > .right {
          grid-column: span 1;
          position: relative;

          & > section#actions {
            & > .card {
              z-index: 1;
              border-radius: 8px;
              width: 100%;
              position: relative;


              &.moving {
                position: relative;
                top: 0;
              }

              &.stopped {
                position: relative;
                top: 0;
                bottom: 0;
              }

            }
          }

        }

      }
    }
  }

}